.sc-detect.sc-detect--checkout
  .sc-detect__inner
    .sc-detect__card.sc-detect__card--success
      h1.sc-detect__title 決済が完了しました
      p.sc-detect__success-text
        | お手続きありがとうございます。
        br
        | プランの適用が完了いたしました。

      .sc-detect__table-wrapper.sc-detect__table-wrapper--success
        table.sc-detect__table
          tbody
            tr
              th.cell-label 選択プラン
              td.cell-value = @plan_name
            - if @amount.present? && @amount > 0
              tr
                th.cell-label 支払い金額
                td.cell-value = "¥#{number_with_delimiter(@amount)}"
            - if @invoice_id.present?
              tr
                th.cell-label 決済ID
                td.cell-value-id = @invoice_id

      .sc-detect__actions
        = link_to dashboard_root_path(client_id: current_client.id), class: "sc-detect__btn sc-detect__btn--primary" do
          | マイページへ進む
          i.fas.fa-arrow-right.ms-2
