- subscription = @subscription
- current_plan = subscription&.plan_type || current_client.subscription_plan
- usage = current_client.usage_summary

.plans-billing
  .plans-billing__status
    .plans-billing__status-row
      .plans-billing__status-block
        span.plans-billing__status-label 現在のプラン
        - if current_plan.present? && Subscription.plan_types.key?(current_plan.to_s)
          .plans-billing__status-value = Subscription::PLAN_NAMES[current_plan.to_sym]
          - if subscription&.trial_active? && subscription.trial_ends_at.present?
            .plans-billing__status-meta トライアル終了: #{subscription.trial_ends_at.strftime("%Y/%m/%d")}
          - elsif subscription&.active?
            .plans-billing__status-meta.plans-billing__status-meta--active 有効
          - else
            .plans-billing__status-meta.plans-billing__status-meta--inactive 未契約または停止中
        - else
          .plans-billing__status-value 未加入

    .plans-billing__usage
      - { pillar: "親記事", child: "子記事", title_suggestions: "AIタイトル", image_generations: "画像生成", genres: "ジャンル" }.each do |key, label|
        - data = usage[key]
        - pct = data[:limit].to_i.positive? ? [(data[:used].to_f / data[:limit] * 100).round, 100].min : 0
        .plans-billing__usage-item
          .plans-billing__usage-head
            span.plans-billing__usage-name = label
            span.plans-billing__usage-num = "#{data[:used]}/#{data[:limit]}"
          .plans-billing__usage-bar
            .plans-billing__usage-fill style="width: #{pct}%"
      .plans-billing__usage-item
        .plans-billing__usage-head
          span.plans-billing__usage-name オプション
        .plans-billing__flags
          span.plans-billing__flag class=(usage[:api_enabled] ? "plans-billing__flag--on" : "plans-billing__flag--off") API
          span.plans-billing__flag class=(usage[:ai_autonomous] ? "plans-billing__flag--on" : "plans-billing__flag--off") AI主導生成

  .plans-billing__toolbar
    h3.plans-billing__section-title プラン変更
    = link_to dashboard_subscription_path, class: "plans-billing__link" do
      | 契約・支払い履歴

  .plans-billing__list
    - Subscription.checkout_plans.each do |plan_key|
      - config = Subscription.config_for(plan_key)
      - is_current = current_plan == plan_key.to_s && subscription&.active?
      - plan_classes = ["plans-billing__plan"]
      - plan_classes << "plans-billing__plan--current" if is_current
      - plan_classes << "plans-billing__plan--recommended" if config[:lp_popular]
      - plan_classes << "plans-billing__plan--featured" if config[:lp_featured]

      .plans-billing__plan class=plan_classes.join(" ")
        .plans-billing__plan-main
          .plans-billing__plan-head
            h4.plans-billing__plan-name = Subscription::PLAN_NAMES[plan_key]
            - if is_current
              span.plans-billing__plan-tag.plans-billing__plan-tag--current 利用中
            - elsif config[:lp_popular]
              span.plans-billing__plan-tag.plans-billing__plan-tag--popular 人気 No.1
            - elsif config[:lp_featured]
              span.plans-billing__plan-tag.plans-billing__plan-tag--featured イチオシ
          p.plans-billing__plan-desc = config[:description]
          .plans-billing__plan-limits
            span.plans-billing__limit 親 #{config[:pillar_articles]}/月
            span.plans-billing__limit 子 #{config[:child_articles]}/月
            span.plans-billing__limit = Subscription.title_suggestion_limit_label(config)
            span.plans-billing__limit 画像 #{config[:image_generations]}回
            - if config[:api_enabled]
              span.plans-billing__limit API可
            - if config[:ai_autonomous]
              span.plans-billing__limit AI主導生成
        .plans-billing__plan-price
          .plans-billing__plan-amount = "¥#{number_with_delimiter(config[:price])}"
          span.plans-billing__plan-period 月額（税込）
        .plans-billing__plan-action
          - if is_current
            button.plans-billing__btn.plans-billing__btn--disabled type="button" disabled="disabled" 現在のプラン
          - else
            = link_to "このプランに変更", checkout_confirmation_path(plan_type: plan_key), class: "plans-billing__btn plans-billing__btn--primary"
