- action = dashboard_next_action
- if action
  .dashboard-flow
    .dashboard-flow__row
      p.dashboard-flow__header = t("drafity.dashboard.workflow.next_title")
      ol.dashboard-flow__progress
        - DashboardWorkflowHelper::PROGRESS_KEYS.each do |key|
          - state = action[:progress][key] ? "is-done" : (action[:current] == key ? "is-current" : "is-todo")
          li class=state = t("drafity.dashboard.workflow.progress.#{key}")
    .dashboard-flow__next
      .dashboard-flow__copy
        p.dashboard-flow__lead = action[:lead]
        - if action[:article_title].present?
          p.dashboard-flow__article
            span.dashboard-flow__article-label = t("drafity.dashboard.workflow.this_article")
            span.dashboard-flow__article-title = action[:article_title]
      = link_to action[:cta], action[:path], class: "dashboard-flow__cta"
