nav.breadcrumbs aria-label="パンくず"
  - breadcrumbs.each_with_index do |crumb, i|
    - is_last = (i == breadcrumbs.size - 1)
    - if !is_last && crumb[:path].present?
      = link_to crumb[:label].to_s, crumb[:path].to_s
    - else
      span.breadcrumbs__current = crumb[:label]
    - unless is_last
      |  /
